<!DOCTYPE html>
<% d = DateTime.now %>

<html>
    <head>
    </head>
    <body>
        <h1>Today</h1>
<<<<<<< HEAD
        <p>"The date is <%= d.strftime("%A, %B")%> <%= d.day%>, <%= d.year%>"</p>
=======
        <p>"The date is <%= d%> <%= d.day%>, <%= d.year%>"</p>
>>>>>>> b90973a856963342ad9b69248a19e8bbb0c30dbd
</html>
